@media only screen and (max-width: 1499px) {
	.side-navbar {
		display: none;
	}
}
@media only screen and (min-width: 1400px) and (max-width: 1599px) {
	.hero-section .intro_text svg text {
		font-size: 260px;
	}
	.service_nav_mobile, .portfolio_nav_mobile, .icon_box.desktop_version, ul.mobile_social_icon {display: none;}
	.resume_item.style-5{gap:20px;}
	.testimonial-section.style-4 .section-header.style-5 .sec-text {display: flex;}
	.testimonial-section.style-4 .section-header.style-5 .sec-text .test-_content{width:60%;}
	.blog_nav_mobile {
    display: none;
}
}

/* Extra Large Devices */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
	.service_nav_mobile, .portfolio_nav_mobile, .icon_box.desktop_version, ul.mobile_social_icon {display: none;}
	.resume_item.style-5{gap:20px;}
	.testimonial-section.style-4 .section-header.style-5 .sec-text {display: flex;}
	.testimonial-section.style-4 .section-header.style-5 .sec-text .test-_content{width:60%;}
	.blog_nav_mobile {
    display: none;
}
	.tj-header-area .header-button {
		margin-left: 35px;
	}
	.tj-header-area .header-menu ul {
		gap: 30px;
	}
	.tj-header-area .header-menu ul li a {
		padding: 25px 0px;
	}
	/* hero section */
	.hero-title {
		font-size: 60px;
	}
	.hero-section .funfact-area {
		margin-top: 70px;
	}

	/* resume section */
	.resume-widget .resume-item .resume-title {
		font-size: 23px;
	}

	/* skills */
	.skills-widget .skill-item {
		max-width: 165px;
	}
	.skills-widget .skill-inner {
		padding: 30px 15px 25px;
	}
}

/* Large Devices */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.service_nav_mobile, .portfolio_nav_mobile, .icon_box.desktop_version, ul.mobile_social_icon {display: none;}
	.resume_item.style-5{gap:20px;}
	.testimonial-section.style-4 .section-header.style-5 .sec-text {display: flex;}
	.testimonial-section.style-4 .section-header.style-5 .sec-text .test-_content{width:60%;}
	.blog_nav_mobile {
    display: none;
}
	.services-section {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	.tj-header-area {
		padding: 30px 0 15px;
	}
	.tj-header-area .logo-box {
		margin-right: 15px;
	}
	.tj-header-area .header-button {
		margin-left: 20px;
	}
	.tj-header-area .header-menu ul {
		gap: 20px;
	}
	.tj-header-area .header-menu ul li a {
		padding: 25px 0px;
	}
	.tj-header-area .header-info-list ul li {
		margin-right: 0px;
	}
	/* hero section */
	.hero-section {
		padding: 160px 0 50px;
	}
	.hero-sub-title {
		margin-bottom: 0;
	}
	.hero-wrrapper .hero-title,
	.hero-title {
		font-size: 50px;
	}
	.hero-section .funfact-area {
		margin-top: 60px;
	}
	.funfact-item .number {
		font-size: 55px;
	}

	/* popup */
	.popup_content_area {
		max-width: 900px;
	}

	/* portfolio */
	.portfolio-section {
		padding-top: 100px;
		padding-bottom: 60px;
	}
	.portfolio_story_approach .portfolio_approach,
	.portfolio_story_approach .portfolio_story {
		gap: 15px;
	}

	/* resume section */
	.resume-section {
		padding-top: 100px;
		padding-bottom: 70px;
	}
	.section-header .section-title {
		font-size: 40px;
	}
	.resume-section .resume-item {
		margin-right: 0;
	}
	.resume-widget .resume-item .resume-title {
		font-size: 23px;
	}

	/* skills */
	.skills-section {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	.skills-widget .skill-item {
		max-width: 165px;
	}
	.skills-widget .skill-inner {
		padding: 30px 15px 25px;
	}

	/* testimonial */
	.testimonial-section {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	/* blog */
	.blog-section {
		padding-top: 100px;
		padding-bottom: 70px;
	}
	.blog-item .blog-content {
		bottom: 10px;
		width: calc(100% - 20px);
	}

	/* contact section */
	.contact-section {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	.contact-form-box {
		padding: 40px 30px;
	}

	/* blog standard */
	.tj-posts__area {
		padding-bottom: 100px;
		padding-top: 100px;
	}
	.tj_recent_posts ul li .recent-post_content {
		max-width: 100%;
	}

	/* blog details */
	.tj-post-details__area {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	.single-post__navigation
		.tj-navigation_post
		.tj-navigation-post_inner
		.tj-content
		.post_pagination_title
		.title {
		font-size: 16px;
	}
	.tj-btn-primary-2 {
		gap: 5px;
		padding: 16px 15px;
	}
}

/* Tablet Devices */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.hero-content-box.style-10.tj-hero-7-content {
    margin-left: 60px;
    margin-bottom: 30px;
}
.hero-8-chats{left: 87px;}
.blog-section.blog_page .row .blog-col {
    width: 50%;
}
section#contact-section .row {
    flex-direction: column-reverse;
    gap: 50px;
}
section#contact-section .row .col-lg-6.col-md-7 {
    width: 100%;
}
section#contact-section .row .col-lg-5 {
    width: 100%;
}
.hero-section.style-10 .hero-10-socials{top: 16%; left: 30px;}
.hero-10-images{max-width: 100%;}
.hero-image-box{margin-left: -18%;}
.hero-10-reviews-wrap{top: 0%; left: 65%;}
.hero_scroll {
    left: -2%;
    top: 27%;
}
.section-header.style-3.service_nav_desktop, .section-header.style-3.portfolio_nav_desktop{
	display: block;
    align-items: center;
    justify-items: center;
}
.portfolio-section.style-5 .section-header .portfolio-shapes, .tj-service-section.style-8 .section-header .service-shapes{
	bottom: 40%;
    right: 5%;
}
.service-navigation.wow.fadeInRight, .portfolio-navigation.d-none.d-lg-inline-flex.wow.fadeInRight{display: inline-flex !important;}
.tj-service-section.style-8 .service-navigation .service-next{top: 71%; right: 25.7%;}
.portfolio-section.style-5 .portfolio-navigation .portfolio-next{top: 71%; right: 26.7%;}
.tj-service-section.style-8 .service-navigation .service-prev{top: 71%; right: 67.2%;}
.portfolio-section.style-5 .portfolio-navigation .portfolio-prev{top: 71%; right: 66.2%;}
.icon_box.desktop_version, ul.mobile_social_icon {display: none;}
	.resume_item.style-5{gap:20px;}
	.testimonial-section.style-4 .section-header.style-5 .sec-text {display: grid;}
	.testimonial-section.style-4 .section-header.style-5 .sec-text .test-_content{width:100%;}
	.testimonial-section.style-4 .section-header.style-5 .sec-text .test-_content{justify-items: center; margin-bottom: 20px;}
	/*.blog_nav_mobile {
    display: none;
}*/
.portfolio-section.style-5 .section-header .sec-text, .tj-service-section.style-8 .section-header .sec-text {
    display: grid;
    justify-items: center;
}
.service_card .row {
	flex-direction: column-reverse;
 }
 .service_card_left, .portfolio_card_left {
    padding: 0px 0px 10px 0;
    width: 100%;
}
.service_card_right, .portfolio_card_right{width: 100%;}
.tj-service-5-accordion-list-image {
    padding: 0px;
}
.service_card{padding: 30px;}
.tj-service-5-accordion-list-button a {
    width: 100%;
}
	h1 {
		font-size: 50px;
	}
	h2 {
		font-size: 40px;
	}
	h3 {
		font-size: 25px;
	}
	h4 {
		font-size: 22px;
	}
	h5 {
		font-size: 20px;
	}
	h6 {
		font-size: 16px;
	}
	.services-section {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	.section-header .section-title {
		font-size: 35px;
	}
	.tj-header-area {
		padding: 20px 0 15px;
	}
	.tj-header-area .logo-box {
		margin-right: 15px;
	}
	.tj-header-area .header-button {
		margin-left: auto;
	}
	.tj-header-area .header-menu {
		position: absolute;
		left: 0;
		top: 100%;
		width: 100%;
		min-height: 90vh;
		overflow-y: auto;
		background-color: var(--tj-theme-secondary);
		transform-origin: top;
		transform: scaleY(0);
		transition: all 0.4s ease-in-out 0s;
	}
	.tj-header-area .header-menu.opened {
		transform: scaleY(1);
	}
	.tj-header-area .header-menu ul {
		flex-direction: column;
		padding: 20px 0;
	}
	.tj-header-area .header-menu ul li {
		width: 100%;
		display: flex;
		justify-content: center;
	}
	.tj-header-area .header-menu ul li a {
		justify-content: center;
		width: 100%;
		text-transform: uppercase;
		line-height: 1;
		padding: 15px 0;
		letter-spacing: 1px;
		font-size: 25px;
	}
	.tj-header-area .header-menu ul li a::before {
		display: none;
	}

	/* hero section */
	.hero-section {
		padding: 130px 0 30px;
	}
	.hero-section .intro_text svg {
		top: 40%;
	}
	.hero-section .intro_text svg text {
		font-size: 280px;
		opacity: 0.6;
	}
	.hero-sub-title {
		margin-bottom: 0;
		font-size: 25px;
	}
	.hero-wrrapper .hero-title,
	.hero-title {
		font-size: 38px;
	}
	.hero-content-box .button-box {
		margin-top: 30px;
		gap: 30px;
	}
	.hero-section .funfact-area {
		margin-top: 60px;
	}
	.funfact-item {
		justify-content: center;
		margin-bottom: 20px;
	}
	.funfact-item .number {
		font-size: 55px;
	}
.tj-portfolio-section.style-8.portfolio-page .portfolio-shapes{
    right: 5%;
}
.portfolio_card .row {
    flex-direction: column-reverse;
}
.tj-portfolio-5-accordion-list-button{justify-content: space-between;}
.tj-portfolio-5-accordion-list-button a.btn.tj-btn-primary.modal-popup {
    width: 50%;
}
.portfolio_card:nth-child(even) .row {
    flex-direction: column-reverse;
}
.portfolio_card:nth-child(even) .row .portfolio_card_left {
    padding: 50px 0px 50px 0px;
}
	/* services section */
	.tj-service-section.style-8.service-page .portfolio-shapes {
    bottom: 20px;
    right: 10%;
}
	.tj-service-section.style-8.service-page .section-header.style-5 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.tj-service-section.style-8.service-page .row .col-lg-4.col-md-4.col-sm-12.col-12 {
    width: 50%;
}
	.service_nav_mobile .service-button a.btn.tj-btn-primary {
    width: 86%;
}
.tj-service-section.style-8 .service_nav_mobile .service-navigation .service-next {
    top: 91.2%;
    right: 2%;
}
.tj-service-section.style-8 .service_nav_mobile .service-navigation .service-prev {
    top: 91.2%;
    right: 8.5%;
}
.service_nav_desktop .service-navigation.wow.fadeInRight, .service_nav_desktop .service-button.wow.fadeInRight {
    display: none !important;
}
	.services-widget .service-item {
		padding: 0px 15px;
	}
	.services-widget .service-item .left-box {
		gap: 10px;
	}
	.services-widget .service-item .left-box .service-title {
		font-size: 25px;
	}
	.services-widget .service-item .right-box {
		padding: 20px 0;
		padding-right: 5%;
	}
	.services-widget i {
		right: 20px;
	}
/* spacing */
.faq-section{padding-top: 60px;}
.testimonial-section.style-4 {
    padding-top: 60px;
    padding-bottom: 40px;
}
.tj-progress-7-area, .resume-section.style-5{padding: 60px 0px;}
/* end spacing */
	/* popup */
	.popup_content_area {
		max-width: 100%;
	}
	.popup_modal_img {
		padding: 40px 25px 0 25px;
	}
	.popup_modal_content {
		padding-top: 40px;
	}
	.service_details {
		padding: 0 25px 10px 25px;
	}
	.service_details_content .service_info .title {
		font-size: 35px;
	}
	.tj_main_sidebar {
		margin-top: 40px;
		border-top: 1px solid var(--tj-grey-3);
		padding-top: 41px;
	}

	/* portfolio */
.portfolio_slider .swiper {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100% !important;
    overflow: hidden;
}
.portfolio_slider .swiper-wrapper {
    display: flex;
}

.portfolio_slider {
    overflow: hidden;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.portfolio_slider .container {
    max-width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
/*.portfolio_slider .swiper-slide {
    width: calc((100% - 20px) / 2) !important;
}*/
	.portfolio-section {
		padding-top: 80px;
		padding-bottom: 60px;
	}
	.portfolio-box .portfolio-item {
		padding: 25px 15px 0 15px;
	}
	.portfolio-box .content-box {
		width: calc(100% - 30px);
		padding: 15px 30px 15px 15px;
	}
	.portfolio-box .portfolio-item .content-box .portfolio-title {
		font-size: 25px;
		margin: 0;
	}
	.portfolio-box .portfolio-item .content-box i {
		font-size: 15px;
		right: 15px;
	}
	.popup_modal_content .portfolio_info {
		padding: 0 25px;
		gap: 20px;
	}
	.popup_modal_content .portfolio_info .portfolio_info_text,
	.popup_modal_content .portfolio_info .portfolio_info_items {
		max-width: calc(50% - 10px);
	}
	.portfolio_info .portfolio_info_items {
		column-gap: 15px;
		row-gap: 20px;
	}
	.popup_modal_content .portfolio_story_approach,
	.popup_modal_content .portfolio_description {
		padding: 0 25px;
		margin-top: 50px;
	}
	.portfolio_story_approach .portfolio_approach,
	.portfolio_story_approach .portfolio_story {
		gap: 15px;
	}
	.portfolio_description .title,
	.portfolio_info .portfolio_info_text .title {
		font-size: 35px;
	}
	.popup_modal_content .portfolio_navigation {
		background-color: var(--tj-theme-primary);
		padding: 30px 25px;
		gap: 20px;
	}
	.portfolio_navigation .navigation_item .project .nav_project .title {
		font-size: 35px;
	}
	.portfolio_nav_mobile .portfolio-button a.btn.tj-btn-primary {
    width: 84%;
}
.portfolio_nav_mobile .portfolio-button {
    margin-top: 20px;
    margin-left: 29%;
}
.portfolio_nav_mobile .portfolio-navigation.wow.fadeInRight {
    display: inline-flex !important;
}
.portfolio-section.style-5 .portfolio-navigation .portfolio-prev {
        top: 89.3%;
        right: 8.5%;
    }
    .portfolio-section.style-5 .portfolio-navigation .portfolio-next {
        top: 89.3%;
        right: 2%;
    }
    .portfolio-section.style-5{padding-bottom: 60px;}
    .portfolio_nav_desktop .portfolio-button {
    display: none;
}
.portfolio_nav_desktop .portfolio-navigation.d-none.d-lg-inline-flex.wow.fadeInRight {
    display: none !important;
}
/*.tj-service-section.style-8 .container {
    max-width: 100%;
    padding: 0px;
}*/

	/* resume section */
	.resume_menu_5{margin-top: 0%; right: 0%;}
	div#pills-tabContent {
    margin-top: -30px;
}
.resume-section.style-5 .section-header.style-3{justify-items: center;}
.resume_wrapper_5 .resume_inner_5 .icon_box {
    max-width: 60px;
    width: 100%;
}
        .exp_box {
        display: grid;
        gap: 15px;
        margin-top: 10px !important;
    }
    .exp_box span{border-right: 0px;}
    .check-list ul li{align-items: flex-start; gap: 5px;}
	.resume-section {
		padding-top: 80px;
		padding-bottom: 50px;
	}
	.section-header .section-title {
		font-size: 35px;
	}
	.resume-section .resume-item {
		margin-right: 0;
		padding: 20px 15px;
	}
	.resume-widget .resume-item .time {
		font-size: 15px;
	}
	.resume-widget .resume-item .resume-title {
		font-size: 20px;
	}

	/* skills */
	.tj-progress-7-area .section-header.style-5{justify-content: center;}
	.section-header.style-5 .sec-text{
		justify-items: center;
	}
	.skills-section {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	.skills-widget .skill-item {
		max-width: 165px;
	}
	.skills-widget .skill-inner {
		padding: 30px 15px 25px;
	}

	/* testimonial */
	.testimonial-section {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	.testimonials-widget .testimonial-item {
		max-width: 100%;
	}

	/* blog */
	.blog-section {
		padding-top: 80px;
		padding-bottom: 50px;
	}
	.blog-item .blog-content {
		bottom: 10px;
		width: calc(100% - 20px);
	}
	.section-header.style-3.blog_nav_desktop {
    display: block;
    align-items: center;
    justify-items: center;
}
.blog-section .section-header .sec-text{
	display: grid;
    justify-items: center;
}
.blog_nav_desktop .blog-navigation, .blog_nav_desktop .blog-button {
    display: none !important;
}
.blog-section .blog-navigation .blog-prev {
    top: 71%;
    right: 65.2%;
}
.blog-section .blog-navigation .blog-next {
    top: 71%;
    right: 27.7%;
}
.blog-section .section-header .blog-shapes {
    bottom: 70%;
    right: 5%;
}

.blog_nav_mobile .blog-button a.btn.tj-btn-primary{width: 85%}
.blog_nav_mobile .blog-navigation .blog-prev{top: 86.3%; right: 9%;}
.blog_nav_mobile .blog-navigation .blog-next{top: 86.3%; right: 2%;}
.blog-section .blog-pagination {
    margin-top: 0px;
    margin-bottom: 20px;
}

	/* contact section */
	.contact-section {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	.contact-form-box {
		padding: 30px 20px;
	}
	.contact-info-list li {
		padding-left: 65px;
	}
	.contact-info-list .text-box a {
		font-size: 18px;
	}

	/* breadcrumb */
	body.absolute_header .breadcrumb_area {
		padding-top: 160px;
	}
	.breadcrumb_area {
		padding: 80px 0;
		min-height: 300px;
		align-items: end;
	}
.text-section .section-header .section-title{font-size: 85px;}
.tj-footer-6-wrapper {
    justify-content: center;
    gap: 15px;
}
.popup-mfp .mfp-container{padding: 0px;}
.popup_contact_info .pop_cont_box{width: 47%;}
.popup_contact_info{flex-wrap: wrap;}
.popup_content_area .mfp-close{top: 15px; right: 15px;}
.contact-wrapper_details {
    padding: 20px 40px 20px 40px;
}
#contact-wrapper .popup_modal_content{padding: 10px;}
	/* blog standard */
	.tj-posts__area {
		padding-bottom: 80px;
		padding-top: 80px;
	}
	.tj-posts__area .tj_main_sidebar {
		border-color: var(--tj-grey-4);
		margin-top: 60px;
	}

	/* blog details */
	.tj-post-details__area {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	.single-post__navigation
		.tj-navigation_post
		.tj-navigation-post_inner
		.tj-content
		.post_pagination_title
		.title {
		font-size: 16px;
	}

	.tj-post-details__area .tj_main_sidebar {
		border-top: 1px solid var(--tj-grey-4);
		margin-top: 60px;
	}

	.breadcrumb_content .title {
		font-size: 40px;
	}
}
/* Mobile Devices 575px */
@media (max-width: 575px) {
	.popup-mfp .mfp-container{padding: 0px;}
	.form_group textarea{height: 100px;}
	.portfolio_card_left, .portfolio_card:nth-child(even) .row .portfolio_card_left{
		padding: 15px 0px 20px 0px;
	}
	.tj-portfolio-5-accordion-list-button a.btn:last-child, .tj-portfolio-5-accordion-list-button a.btn:first-child, button#loadMorePortfolio{
		width: 100%;
	}
	.tj-portfolio-5-accordion-list-button{flex-wrap: wrap;}
	.portfolio_card .row, .portfolio_card:nth-child(even) .row {
    flex-direction: column-reverse;
}
	.portfolio_card{padding-left: 30px;}
	ul.desktop_social_icon {
    display: none;
}
	.resume_wrapper_5{padding: 20px;}
	.resume_wrapper_5 .resume_inner_5{gap:25px;}
	.resume_item.style-5{display: block;}
	.resume_text h5.title {
    position: relative;
    margin-top: -20% !important;
    left: 26%;
    font-size: 20px;
    padding-right: 80px;
    line-height: 28px;
}
.resume_item .resume_content .resume_text .subtitle{
	margin-bottom: 22px;
    position: relative;
    margin-top: 0%;
    left: 0%;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.resume_item .resume_content .resume_text .subtitle i, .resume_item .resume_content .resume_text span.date i {
    margin-right: 5px;
}
.check-list {
    margin-top: 20px;
}
.resume_date.desktop {
    display: none;
}
.exp_box {
    display: grid;
    gap: 15px;
    margin-top: 30px !important;
}
.exp_box span {
    border-right: 0px solid;
    margin-bottom: 0px !important;
    padding-right: 0px;
}
.check-list ul li {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 15px;
}
.resume_wrapper_5 .resume_inner_5 .icon_box.desktop_version {
    display: none;
}
.resume_wrapper_5 .resume_inner_5 .icon_box {
    max-width: 60px;
    width: 100%;
}
.resume-section.style-5{padding-bottom: 60px;}
	.resume_menu_5{position: relative; right: 0%}
	.portfolio-section.style-5 .portfolio_slider {
        margin-left: auto;
    }
    .tj-header-area.header-10 {
        padding: 0px 0px;
    }
    .tj-header-area.header-10 .logo-box {
        max-width: 140px;
        height: 75px;
        padding-right: 15px;
    }
    .hero-content-box.style-10 {
        padding-left: 0px;
        margin-bottom: 0px;
    }
    .hero-content-box.style-10 .hero-title{
        font-size: 28px;
        text-align: center;
        line-height: 38px;
    }
    .hero-content-box.style-10 .desc{text-align: center; font-size: 16px;}
        .hero_scroll, .hero-section.style-10 .hero_scroll {
        display: none;
    }
    .tj-header-area.header-10, .tj-header-area.header-2.header-10.header-sticky.sticky{padding: 0px 0px; z-index: 999;}
.hero-section.style-10 .hero-10-socials {
        top: auto;
        bottom: 35px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .hero-section.style-10 .hero-10-socials .social-icons {
        -webkit-box-orient: initial;
        -webkit-box-direction: initial;
        -ms-flex-direction: initial;
        flex-direction: initial;
    }
    .hero-10-reviews-wrap{
    	max-width: 325px;
    	top: 105%;
        left: 5%;
        padding: 15px;
    }
    .hero-10-reviews-wrap .hero-10-thumb {
    margin-bottom: 20px;
}
.testimonial-rating{justify-content: center;}
.hero-8-reviews-rating p {
    text-align: center;
    margin-top: 10px;
}
.hero-section.style-10 .hero-10-socials .social-icons li a {
    color: var(--full-black);
    border: 1px solid var(--white-1);
    background: linear-gradient(to right, var(--white-1) 0%, var(--white-2) 51%, var(--white-3) 100%);
    width: 50px;
    height: 50px;
}
.hero-section.style-10 .hero-10-socials .social-icons li a:hover{
	background: linear-gradient(to right, var(--golden-yellow-1), var(--golden-yellow-2), var(--golden-yellow-3));
	color: var(--full-black);
}
    .resume_wrapper_5 .resume_inner_5 .resume_item.style-5.eductaion .icon_box{
    max-width: 100%;
}
.resume_wrapper_5 .resume_inner_5 .resume_item.style-5.eductaion .resume_content .resume_text h5.title {
    margin-top: 5% !important;
    left: 0% !important;
}
.resume_wrapper_5 .resume_inner_5 .resume_item.style-5.eductaion .resume_content .resume_text .exp_box {
    margin-top: 10px !important;
}
.testimonial-section.style-4{padding-top: 60px; padding-bottom: 60px;}
}
.section-header.style-5 .sec-text {
    display: grid;
}

.testimonial-section.style-4 .section-header.style-5 .sec-text a.btn.tj-btn-primary {
    width: 100%;
}
.resume-section.style-5 .section-header {
    margin-bottom: 40px;
}
/* Mobile Devices */
@media only screen and (max-width: 767px) {
	ul.desktop_social_icon {
    display: none;
}
ul.mobile_social_icon {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}
.tj-footer-6-copyright{text-align: center;}
	.blog_nav_mobile a.btn.tj-btn-primary {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 65%;
    padding: 20px 0px;
}
.blog_nav_mobile {
    display: flex;
    flex-direction: column-reverse;
}
	.testimonial-section.style-4 .section-header.style-5 .sec-text .test-_content {
    width: 100%;
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/*.blog_nav_desktop .blog-navigation, .blog_nav_desktop .blog-navigation .blog-prev, .blog_nav_desktop .blog-navigation .blog-next, .blog_nav_desktop .blog-button {
    display: none;
}*/
	.progress-wrap {
		right: 20px;
		bottom: 20px;
	}
	h1 {
		font-size: 40px;
	}
	h2 {
		font-size: 35px;
	}
	h3 {
		font-size: 22px;
	}
	h4 {
		font-size: 20px;
	}
	h5 {
		font-size: 18px;
	}
	h6 {
		font-size: 15px;
	}
	.tj-service-section.style-8 .service-pagination, .portfolio-section.style-5 .portfolio-pagination, .blog-section .blog-pagination{display: none !important;}
    .tj-service-section.style-8{padding-bottom: 100px;}
	.hero-content-box.style-10 .hero-button{display: grid;}
	.tj-header-area .mobile-menu ul li a:not(.mean-expand){font-size: 20px;}
	    .hero-section .intro_text svg {
        top: 29%;
        left: 50%;
    }
    /*.service-button a.btn.tj-btn-primary {
    position: absolute;
    left: 15%;
    bottom: -990px;
}*/
/*.tj-service-section.style-8 .service-navigation .service-next{
	right: 2%;
    top: 715%;
}
.tj-service-section.style-8 .service-navigation .service-prev{
	right: 85%;
    top: 715%;
}*/
.service_nav_mobile a.btn.tj-btn-primary {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 65%;
    padding: 20px 0px;
}
.portfolio_nav_mobile a.btn.tj-btn-primary {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 65%;
    padding: 20px 0px;
}
.portfolio_nav_mobile a.btn.tj-btn-primary {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 65%;
    padding: 20px 0px;
}
.service_nav_mobile .service-prev {
    top: 90.5% !important;
    right: 18% !important;
}
.service_nav_mobile .service-next {
    top: 90.5% !important;
    right: 3% !important;
}
.portfolio_nav_mobile .portfolio-prev {
    top: 92% !important;
    right: 18% !important;
}
.portfolio_nav_mobile .portfolio-next {
    top: 92% !important;
    right: 3% !important;
}
.blog_nav_mobile .blog-prev {
    margin-top: 0% !important;
    right: -70% !important;
    position: relative !important;
}
.blog_nav_mobile .blog-next {
    margin-top: 0% !important;
    right: -66% !important;
    position: relative !important;
    transform: rotate(-45deg) !important;
}
.swiper.portfolio-slider-5{
    margin-bottom: 35px;
}
.portfolio-section.style-5{padding-bottom: 120px;}
.portfolio_nav_mobile {
    z-index: 999999;
    position: relative;
}
.service_nav_desktop a.btn.tj-btn-primary, .service_nav_desktop .service-navigation, .portfolio_nav_desktop a.btn.tj-btn-primary, .service_nav_desktop a.btn.tj-btn-primary, .service_nav_desktop .service-navigation, .portfolio_nav_desktop a.btn.tj-btn-primary, .portfolio_nav_desktop .portfolio-navigation, .service_nav_desktop a.btn.tj-btn-primary, .service_nav_desktop .service-navigation, .portfolio_nav_desktop a.btn.tj-btn-primary, .blog_nav_desktop .blog-navigation, .blog_nav_desktop a.btn.tj-btn-primary{
    display: none !important;
}
.section-header.style-3 .title{font-size: 28px;}
.portfolio-section.style-5 .section-header .sec-text, .tj-service-section.style-8 .section-header .sec-text{max-width: 100%}
.portfolio-section.style-5 .section-header .portfolio-shapes, .tj-service-section.style-8 .section-header .service-shapes, .blog-section .section-header .blog-shapes{
	bottom: 50px;
    right: 0;
}
.tj-service-section.style-8 .section-header{margin-bottom: 30px;}
.resume-section.style-5 .section-header.style-3 {
    display: flex;
    width: 100%;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 60px;
    text-align: center !important;
}
.section-header.style-5 .sec-text {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.service_card .row {
    flex-direction: column-reverse;
}
.portfolio-section.style-5 .section-header .sec-text, .tj-service-section.style-8 .section-header .sec-text{
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.service_card_left{padding: 10px 30px 30px 30px;}
.service_card{padding: 0px 0px 0px 0;}
.tj-service-5-accordion-list-button a.btn.tj-btn-primary {
    width: 100%;
}
.accordion-item .faq-title{font-size: 18px;}
.accordion-item .faq-text {
    padding: 5px 15px 30px 15px;
}
.accordion-item .faq-title{padding: 20px 50px 20px 15px;}
.accordion-item .faq-title:before{right: 20px;}
.tj-service-5-accordion-list-title{font-size: 24px; padding-bottom: 40px;}
.service_card_left p, .tj-service-5-accordion-list-item span {
    font-size: 16px;
}
    .hero-section .intro_text svg text{
        font-size: 450px;
        opacity: 0.8;
    }
    /*.hero-section.style-10 .container .row {
    flex-direction: column-reverse;
}*/
.hero-section.style-10 .funfact-area .row {
    flex-direction: row;
}
.funfact-item{padding: 25px;}
.hero-content-box.style-10 .hero-button{display: grid;}
.tj-header-area .header-button {
        margin-left: auto;
    }
	.services-section {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	
	.section-header {
		margin-bottom: 40px;
		padding: 0 10px;
	}
	.section-header.style-3 .subtitle, .section-header.style-5 .subtitle{margin-bottom: 15px}
	.section-header .section-title {
		font-size: 28px;
		text-align: center;
	}
	.tj-about-9-button {
    width: 100%;
}
.blog-section .section-header{
    display: flex;
    justify-content: center;
}
.blog-section .section-header .sec-text {
    display: grid;
    justify-content: center;
    justify-items: center;
}
.faq-section {
    padding-top: 60px;
    padding-bottom: 60px;
}
.tj-progress-7-area{padding: 60px 0px 60px;}
	.tj-header-area {
		padding: 20px 0 15px;
	}
	.tj-header-area .header-menu ul > li > ul.sub-menu > li > a {
		padding: 18px 20px;
	}
	.tj-header-area .logo-box {
		margin-right: 15px;
	}
	.tj-header-area .header-button {
		margin-left: auto;
	}
	.tj-header-area .header-menu {
		position: absolute;
		left: 0;
		top: 100%;
		width: 100%;
		min-height: 90vh;
		overflow-y: auto;
		background-color: var(--tj-theme-secondary);
		transform-origin: top;
		transform: scaleY(0);
		transition: all 0.4s ease-in-out 0s;
	}
	.tj-header-area .header-menu.opened {
		transform: scaleY(1);
	}
	.tj-header-area .header-menu ul {
		flex-direction: column;
		padding: 20px 0;
	}
	.tj-header-area .header-menu ul li {
		width: 100%;
		display: flex;
		justify-content: center;
	}
	.tj-header-area .header-menu ul li:not(:last-child) {
		margin-bottom: 20px;
	}
	.tj-header-area .header-menu ul li a {
		justify-content: center;
		width: 100%;
		text-transform: uppercase;
		line-height: 1;
		padding: 10px 0;
		letter-spacing: 1px;
		font-size: 22px;
	}
	.tj-header-area .header-menu ul li a::before {
		display: none;
	}
	.tj-header-area .mobile-menu ul {
		max-width: 90%;
	}

	/* hero section */
	.hero-content-box.style-10 .subtitle{text-align: center; margin-top: 25px; margin-bottom: 25px;}
	.hero-section.style-10 {
		padding: 70px 0 95px;
	}
	.hero-section .intro_text svg {
		top: 25%;
		left: 50%;
	}
	.hero-section .intro_text svg text {
		font-size: 450px;
		opacity: 0.8;
	}
	.hero-sub-title {
		margin-bottom: 0;
		font-size: 22px;
	}
	.hero-wrrapper .hero-title,
	.hero-title {
		font-size: 35px;
		margin-bottom: 0;
	}
	.hero-image-box {
		margin: 30px 0;
	}
	.hero-image-box img {
		max-width: 100%;
		height: 400px;
        width: 100%;
	}
	.hero-8-chats{
		left: 0px;
		max-width: 100%;
		border-bottom-right-radius: 38px;
	}
	.hero-content-box .button-box {
		margin-top: 20px;
		gap: 30px;
	}
	.hero-section .funfact-area {
		margin-top: 200px;
	}
	.funfact-item {
		justify-content: center;
		margin-bottom: 30px;
	}
	.funfact-item .number {
		font-size: 45px;
	}
	.funfact-item .text {
		margin-top: 0px;
		text-align: center;
	}

	/* services section */
	.services-widget .service-item {
		padding: 20px 15px;
		gap: 15px;
		transition: all 0.5s ease;
	}
	.services-widget .service-item .left-box {
		width: 100%;
		gap: 10px;
		padding: 0 25px 0 0;
	}
	.services-widget .service-item .left-box .service-title {
		font-size: 20px;
	}
	.services-widget .service-item .right-box {
		width: 100%;
		padding: 0;
	}
	.services-widget i {
		right: 20px;
		top: 20%;
		font-size: 15px;
	}
	.services-widget .active-bg {
		display: none;
	}
	.services-widget .service-item.current {
		background: linear-gradient(
			260deg,
			var(--tj-theme-secondary) 0%,
			var(--tj-theme-primary) 100%
		);
	}

	/* popup */
	.popup_content_area {
		max-width: 100%;
	}
	.popup_modal_img {
		padding: 30px 15px 0 15px;
	}
	.popup_content_area .mfp-close {
		width: 30px;
		height: 30px;
		font-size: 20px;
		right: 5px;
		top: 5px;
	}
	.popup_modal_content, #contact-wrapper .popup_modal_content {
		padding: 20px;
		z-index: 9;
        position: relative;
	}
	.contact-wrapper_details {
    padding: 0px 0px 20px 0px;
}
.navigation_item.next-project a.project{flex-direction: column-reverse;}
.popup_modal_content .portfolio_navigation{flex-direction: row !important;}
.popup_modal_content .portfolio_info a.btn.tj-btn-primary{width: 100%;}
.form_btn .btn {
    padding: 20px 35px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.form_group textarea{height: 100px;}
.popup_contact_area form#contact-form .form_group {
    gap: 15px;
}
.popup_contact_info{
	flex-wrap: wrap;
}
.popup_contact_info .pop_cont_box{width: 100%}
	.service_details {
		padding: 0 15px 30px 15px;
	}
	.service_details_content .service_info .title {
		font-size: 30px;
	}
	.service_details_content .service_info ul {
		columns: 1;
	}
	.tj_main_sidebar {
		margin-top: 40px;
		border-top: 1px solid var(--tj-grey-3);
		padding-top: 41px;
	}
	.tj_main_sidebar .sidebar_widget {
		padding: 30px 15px;
	}
	.sidebar_widget .widget_title .title {
		font-size: 18px;
	}

	/* portfolio */
	.portfolio-section {
		padding-top: 60px;
		padding-bottom: 30px;
	}
	.portfolio-filter .button-group {
		padding: 0 8px;
	}
	.portfolio-filter .button-group button {
		font-size: 14px;
		padding: 10px 6px;
	}
	.portfolio-box {
		padding-top: 40px;
	}
	.portfolio-box .portfolio-sizer {
		width: 100%;
	}
	.portfolio-box .portfolio-item {
		width: 100%;
		padding: 25px 15px 0 15px;
		margin-bottom: 30px;
	}
	.portfolio-box .content-box {
		width: calc(100% - 30px);
		padding: 15px 30px 15px 15px;
	}
	.portfolio-box .portfolio-item .content-box .portfolio-title {
		font-size: 25px;
		margin: 0;
	}
	.portfolio-box .portfolio-item .content-box i {
		font-size: 15px;
		right: 15px;
	}
	.popup_modal_content .portfolio_info {
		padding: 0px;
		gap: 30px;
	}
	.popup_modal_content .portfolio_info .portfolio_info_text,
	.popup_modal_content .portfolio_info .portfolio_info_items {
		max-width: 100%;
	}
	.portfolio_info .portfolio_info_items {
		column-gap: 15px;
		row-gap: 20px;
		    max-width: calc(100% - 0px) !important;
	}
	.portfolio_info .portfolio_info_items .info_item {
    max-width: calc(50% - 8px);
    width: 100%;
}
	.popup_modal_content .portfolio_gallery {
		margin-top: 40px;
	}
	.popup_modal_content .portfolio_story_approach,
	.popup_modal_content .portfolio_description {
		padding: 0px;
		margin-top: 40px;
	}
	.portfolio_story_approach .portfolio_approach,
	.portfolio_story_approach .portfolio_story {
		gap: 0px;
        margin-bottom: 40px;
        text-align: left;
        display: grid;
	}
	.portfolio_approach .approach_title, .portfolio_story .story_title{
    max-width: 100%;
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
}
	.portfolio_description .title,
	.portfolio_info .portfolio_info_text .title {
		font-size: 26px;
	}
	.portfolio_approach .approach_content, .portfolio_story .story_content{max-width: 100%}
	.popup_modal_content .portfolio_navigation {
		background-color: var(--tj-theme-primary);
		padding: 30px 15px;
		gap: 15px;
		flex-direction: column;
		width: 100%;
	}
	/*.portfolio_navigation .navigation_item {
		max-width: 100%;
		text-align: center !important;
	}*/
	.portfolio_gallery button.owl-next, .portfolio_gallery button.owl-prev{top:85%;}
	.portfolio_gallery button.owl-next, .portfolio_gallery button.owl-prev{width: 35px; height: 35px;}
	.portfolio_gallery button.owl-next span, .portfolio_gallery button.owl-prev span{top:-38%; right: 33%}
	.portfolio_navigation .navigation_item .project .nav_project .title {
		font-size: 25px;
	}
	.portfolio_navigation .navigation_item .project i {
		font-size: 20px;
		line-height: 1;
	}

	/* resume section */
	.resume-section {
		padding-top: 60px;
		padding-bottom: 30px;
	}
	.resume-section .col-md-6:last-child .section-header {
		margin-top: 30px;
	}
	.resume-section .resume-item {
		margin-right: 0;
		padding: 20px 15px;
	}
	.resume-widget .resume-item .time {
		font-size: 15px;
	}
	.resume-widget .resume-item .resume-title {
		font-size: 18px;
		margin-bottom: 0;
	}

	/* skills */
	.skills-section {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.skills-widget .skill-item {
		max-width: 165px;
	}
	.skills-widget .skill-inner {
		padding: 25px 15px 25px;
	}
	.skills-widget .skill-item .icon-box {
		margin: 0 auto 20px;
	}

	/* testimonial */
	.testimonial-section {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.testimonials-widget .testimonial-item {
		max-width: 100%;
	}
	.testimonials-widget .testimonial-item .quote {
		margin-bottom: 30px;
	}
	/* blog */
	.blog-section {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.blog-item .blog-content {
		bottom: 10px;
		width: calc(100% - 20px);
	}
	.blog-item .blog-content .blog-title {
		font-size: 18px;
	}

	/* contact section */
	.contact-section {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.contact-content-area {
        flex-direction: column-reverse;
        align-items: start;
        padding: 30px 20px;
        gap: 30px;
    }
	.contact-form-box {
		padding: 30px 15px;
		margin-top: 50px;
	}
	.contact-info-list li {
		padding-left: 65px;
	}
	.contact-info-list .text-box a {
		font-size: 18px;
	}

	/* footer */
	.tj-footer-6-area {
        padding: 35px 0;
    }
    .tj-footer-6-wrapper {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
	.tj-footer-area {
		padding: 60px 0 20px;
	}
	.footer-menu ul {
		margin: 0 0 25px;
		gap: 10px 15px;
	}
	.copy-text p {
		font-size: 14px;
	}

	/* text area */
	.text-section {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .text-section .section-header .section-title {
        font-size: 38px;
    }
        .text-section .section-header .chat-mail {
        display: inline-flex;
        justify-content: flex-end;
    }
    .text-section .section-header .chat-mail .link {
        font-size: 20px;
    }
    .text-section .section-header .chat-mail .link::before {
        bottom: -10px;
    }
        .text-section .section-header .chat-mail .link i {
        width: 30px;
        height: 30px;
        font-size: 18px;
    }
	/* end text area */

	/* breadcrumb */
	body.absolute_header .breadcrumb_area {
		padding-top: 150px;
	}
	.breadcrumb_area {
		padding: 60px 0;
		min-height: 250px;
		align-items: end;
	}

	/* blog standard */
	.tj-posts__area {
		padding-bottom: 60px;
		padding-top: 60px;
	}
	.tj-post .tj-post__thumb img {
		min-height: 250px;
		object-fit: cover;
	}
	.tj-post .tj-post__content {
		padding: 25px 15px;
	}
	.tj-post__meta {
		column-gap: 15px;
		margin-bottom: 15px;
	}
	.tj-post__content .tj-post__title {
		font-size: 22px;
		margin-bottom: 15px;
	}
	.tj-post__content .tj-post__btn {
		margin-top: 20px;
	}
	.wp-block-quote,
	blockquote {
		padding: 25px 15px;
		border-radius: 8px;
	}
	.tj__pagination {
		margin-top: 50px;
	}
	.tj__pagination ul {
		gap: 10px;
	}
	.tj-posts__area .tj_main_sidebar {
		border-color: var(--tj-grey-4);
		margin-top: 60px;
	}
	.breadcrumb_content .title {
		font-size: 35px;
	}

	/* blog details */
	.tj-post-details__area {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.tj-single__post .tj-post__thumb img {
		min-height: 250px;
		object-fit: cover;
	}
	.tj-single__post p {
		margin-bottom: 15px;
	}
	.tj-single__post h1,
	.tj-single__post h2,
	.tj-single__post h3,
	.tj-single__post h4,
	.tj-single__post h5,
	.tj-single__post h6 {
		margin-top: 20px;
	}
	.single-post__navigation
		.tj-navigation_post
		.tj-navigation-post_inner
		.tj-content
		.post_pagination_title
		.title {
		font-size: 16px;
	}
	.single-post_tag_share .tj_tag {
		width: 100%;
	}
	.single-post_tag_share .tj_tag .tag__title {
		margin-right: 0;
	}
	.single-post__navigation .tj-navigation_post {
		max-width: 355px;
		width: 100%;
	}
	.single-post__navigation .tj-navigation_post .tj-navigation-post_inner {
		padding: 30px 20px;
	}
	.single-post__navigation .tj-navigation_post.next {
		margin-left: auto;
	}
	.tj-comments__wrap .tj-comment__title h3,
	.comment-respond .tj-comment__title {
		font-size: 25px;
	}
	.tj__comment .tj-comment__wrap {
		flex-direction: column;
		row-gap: 20px;
	}
	.tj__comment .tj-comment__wrap .comment__text {
		width: 100%;
	}
.single-post__navigation{border-bottom: 0px;}
	.tj-post-details__area .tj_main_sidebar {
		/*border-top: 1px solid var(--tj-grey-4);*/
		margin-top: 10px;
	}
}
@media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
    .tj-footer-6-area .footer-menu ul {
        margin: 0 0 10px;
    }
    ul.desktop_social_icon {
    display: none;
}
}